.about {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 50px 350px;
  box-sizing: border-box;
  width: 100%;
  gap: 75px;
}

.about__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__info_block {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.about__info_block_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about__info_block_text_title {
  display: flex;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 30px;
  gap: 10px;
  margin: 0;
}

.about__info_block_text_image {
  width: 30px;
}

.about__info_block_text_description {
  font-family: "SourceSans3-Regular";
  color: var(--accent-primary);
  font-size: 14px;
  margin: 0;
}

.about__info_block_message {
  font-family: "SourceSans3-Regular";
  color: var(--text-secondary);
  font-size: 14px;
}

.about__info_block_button {
  width: 150px;
  height: 45px;
  margin-top: 25px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  background: var(--accent-secondary);
  border-radius: 5px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.about__info_block_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.about__info_images {
  position: relative;
  width: 600px;
  height: 550px;
}

.about__info_image {
  background-color: var(--accent-primary);
  overflow: hidden;
  object-fit: cover;
}

.about__info_image.image-first {
  position: absolute;
  width: 450px;
  height: 350px;
  top: 0;
  right: 0;
}

.about__info_image.image-second {
  position: absolute;
  width: 300px;
  height: 350px;
  bottom: 0;
  left: 0;
}

.about__footer {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.about__footer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.about__footer_text_title {
  display: flex;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 30px;
  gap: 10px;
  margin: 0;
}

.about__footer_text_image {
  width: 30px;
}

.about__footer_text_description {
  font-family: "SourceSans3-Regular";
  color: var(--accent-primary);
  font-size: 14px;
  margin: 0;
}

.about__footer_text_message {
  width: 500px;
  text-align: center;
  font-family: "SourceSans3-Regular";
  color: var(--text-secondary);
  font-size: 14px;
  margin: 0;
}

.about__footer_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.about__footer_content_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 25px;
}

.about__footer_content_item_image {
  width: 100px;
  height: 100px;
}

.about__footer_content_item_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.about__footer_content_item_text_title {
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 20px;
  margin: 0;
}

.about__footer_content_item_text_description {
  font-family: "SourceSans3-Regular";
  color: var(--text-secondary);
  font-size: 14px;
  margin: 0;
}
