.contact {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--gradient-primary) 0%,
    var(--gradient-secondary) 65%
  );
}

.contact__form_block {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 300px;
  box-sizing: border-box;
  gap: 25px;
}

.contact__form_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__form_header_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact__form_header_text_title {
  display: flex;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 30px;
  gap: 10px;
  margin: 0;
}

.contact__form_header_text_description {
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 14px;
  margin: 0;
}

.contact__form_header_message {
  width: 600px;
  font-family: "SourceSans3-Regular";
  color: var(--text-secondary);
  font-size: 15px;
  margin: 0;
}

.contact__form_block_inputs {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.contact__form_block_inputs_item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.contact__form_block_inputs_item_field {
  padding: 10px 15px 10px 10px;
  box-sizing: border-box;
  background: none;
  color: var(--text-primary);
  font-size: 16px;
  font-family: "SourceSans3-Regular";
  margin: 0;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-primary);
}

.contact__form_block_inputs_item_field::placeholder {
  color: var(--text-primary);
  font-size: 16px;
  font-family: "SourceSans3-Light";
}

.contact__form_block_inputs_item_field.textarea {
  padding: 10px;
  box-sizing: border-box;
  height: 80px;
}

.contact__form_block_inputs_item-error {
  visibility: hidden;
  display: block;
  color: var(--form-error);
  height: 12px;
  font-family: "SourceSans3-Light";
  font-size: 12px;
  line-height: 25.52px;
}

.contact__form_block_inputs_item-error_active {
  visibility: hidden;
}

.contact__form_block_button {
  width: 125px;
  height: 35px;
  margin-top: 25px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--accent-primary);
  font-size: 13px;
  background: var(--text-primary);
  border: 1px solid var(--accent-primary);
  border-radius: 5px;
  margin: 0;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.contact__form_block_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.contact__image_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.contact__image {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.contact__image_block_sale {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: auto;
  background: linear-gradient(
    to right,
    transparent,
    var(--accent-primary),
    transparent
  );
  width: 100%;
  height: 125px;
  bottom: 0;
  gap: 35px;
}

.contact__image_block_sale_text {
  font-family: "SourceSans3-LightItalic";
  color: var(--text-primary);
  font-size: 35px;
  margin: 0;
}

.contact__image_block_sale_text span {
  font-family: "SourceSans3-BoldItalic";
  color: var(--text-primary);
  font-size: 35px;
}

.contact__image_block_sale_button {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  background: none;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.contact__image_block_sale_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}
