.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 400px;
  padding: 50px 350px;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.footer__content_image {
  height: 110px;
}
