.home {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  gap: 100px;
  background-color: var(--accent-primary);
}

.home__image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.home__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
}

.home__header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__header_title {
  font-family: "SourceSans3-Regular";
  color: var(--header-primary);
  letter-spacing: 75px;
  font-size: 150px;
  margin: 0;
}

.home__header_description {
  font-family: "SourceSans3-Regular";
  color: var(--header-secondary);
  letter-spacing: 10px;
  font-size: 20px;
  margin: 0;
}

.home__header_button {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  background: var(--accent-secondary);
  border-radius: 5px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.home__header_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.home__header_slider {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 150px;
  gap: 15px;
}

.home__header_slider_item {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.home__header_slider_item.selected {
  background-color: var(--text-primary);
}

.home__header_slider_item:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.home__header_sale {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: auto;
  background: linear-gradient(
    to right,
    transparent,
    var(--accent-primary-transparent),
    transparent
  );
  width: 100%;
  height: 125px;
  bottom: 0;
  gap: 35px;
}

.home__header_sale_text {
  font-family: "SourceSans3-LightItalic";
  color: var(--text-primary);
  font-size: 35px;
  margin: 0;
}

.home__header_sale_text span {
  font-family: "SourceSans3-BoldItalic";
  color: var(--text-primary);
  font-size: 35px;
}

.home__header_sale_button {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  background: none;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.home__header_sale_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1400px) {
  .home {
    height: 600px;
  }

  .home__header {
    gap: 30px;
  }

  .home__header_title {
    letter-spacing: 35px;
    font-size: 100px;
  }

  .home__header_description {
    letter-spacing: 5px;
    font-size: 16px;
  }

  .home__header_button {
    width: 100px;
    height: 35px;
    font-size: 13px;
  }

  .home__header_slider {
    bottom: 160px;
  }

  .home__header_slider_item {
    width: 5px;
    height: 5px;
  }

  .home__header_sale {
    height: 100px;
    gap: 35px;
  }

  .home__header_sale_text {
    font-size: 25px;
  }

  .home__header_sale_text span {
    font-size: 25px;
  }

  .home__header_sale_button {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .home {
    height: 400px;
  }

  .home__header {
    gap: 20px;
  }

  .home__header_title {
    letter-spacing: 15px;
    font-size: 45px;
  }

  .home__header_description {
    letter-spacing: 2px;
    font-size: 9px;
  }

  .home__header_button {
    width: 75px;
    height: 25px;
    font-size: 10px;
  }

  .home__header_slider {
    bottom: 120px;
  }

  .home__header_slider_item {
    width: 3px;
    height: 3px;
  }

  .home__header_sale {
    height: 65px;
    gap: 10px;
  }

  .home__header_sale_text {
    font-size: 12px;
  }

  .home__header_sale_text span {
    font-size: 12px;
  }

  .home__header_sale_button {
    width: 80px;
    height: 25px;
    font-size: 11px;
  }
}

@media screen and (max-width: 370px) {
  .home {
    height: 300px;
  }

  .home__header {
    gap: 10px;
  }

  .home__header_title {
    letter-spacing: 10px;
    font-size: 35px;
  }

  .home__header_description {
    letter-spacing: 1px;
    font-size: 8px;
  }

  .home__header_button {
    width: 65px;
    height: 20px;
    font-size: 8px;
  }

  .home__header_slider {
    bottom: 85px;
    gap: 10px;
  }

  .home__header_slider_item {
    width: 2px;
    height: 2px;
  }

  .home__header_sale {
    flex-direction: column;
    height: 55px;
    gap: 5px;
  }

  .home__header_sale_text {
    font-size: 10px;
  }

  .home__header_sale_text span {
    font-size: 10px;
  }

  .home__header_sale_button {
    width: 75px;
    height: 20px;
    font-size: 10px;
  }
}
