.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  overflow: visible;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1500px) {
  .page {
    min-width: 800px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 600px;
    max-width: 100%;
  }

  .page::before {
    top: -150px;
    right: 10px;
    width: 400px;
    height: 400px;
  }

  .page::after {
    top: 550px;
    left: -250px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    min-width: 300px;
    max-width: 100%;
  }

  .page::before {
    top: -100px;
    right: 0px;
    width: 200px;
    height: 200px;
  }

  .page::after {
    top: 450px;
    left: -150px;
    width: 200px;
    height: 200px;
  }
}
