.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.page__button_text {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: #ffffffe8;
  background: none;
  border-radius: 25px;
  border: 2px solid #192c3f;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.page__button_text:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1500px) {
  .page {
    padding: 50px 100px;
    min-width: 800px;
    max-width: 100%;
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 50px;
    min-width: 600px;
    max-width: 100%;
    gap: 30px;
  }

  .page::before {
    top: -150px;
    right: 10px;
    width: 400px;
    height: 400px;
  }

  .page::after {
    top: 550px;
    left: -250px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 25px;
    min-width: 300px;
    max-width: 100%;
  }

  .page::before {
    top: -100px;
    right: 0px;
    width: 200px;
    height: 200px;
  }

  .page::after {
    top: 450px;
    left: -150px;
    width: 200px;
    height: 200px;
  }
}
