.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 50px 350px 100px 350px;
  box-sizing: border-box;
  gap: 75px;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing__header_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.pricing__header_text_title {
  display: flex;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 30px;
  gap: 10px;
  margin: 0;
}

.pricing__header_text_image {
  width: 30px;
}

.pricing__header_text_description {
  font-family: "SourceSans3-Regular";
  color: var(--accent-primary);
  font-size: 14px;
  margin: 0;
}

.pricing__header_message {
  text-align: center;
  width: 600px;
  font-family: "SourceSans3-Regular";
  color: var(--text-secondary);
  font-size: 15px;
  margin: 0;
}

.pricing__content {
  display: flex;
  align-items: center;
  gap: 75px;
}

.pricing__content_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: var(--pricing-primary);
  border: 1px solid var(--accent-secondary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  gap: 25px;
}

.pricing__content_item_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: var(--accent-secondary);
  border-bottom: 1px solid var(--text-transparent);
  gap: 15px;
}

.pricing__content_item.recommended {
  transform: scale(1.15);
}

.pricing__content_item.recommended .pricing__content_item_header {
  background-color: var(--accent-primary);
}

.pricing__content_item_header_description {
  font-family: "SourceSans3-Light";
  color: var(--text-secondary);
  font-size: 15px;
  margin: 0;
}

.pricing__content_item_header_price {
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 35px;
  margin: 0;
}

.pricing__content_item_header_price span {
  margin-left: 10px;
  font-size: 55px;
  color: var(--accent-primary);
}

.pricing__content_item.recommended .pricing__content_item_header_price span {
  color: var(--text-primary);
}

.pricing__content_item_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.pricing__content_item_block_item {
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 13px;
  margin: 0;
}

.pricing__content_item_block_item span {
  color: var(--text-secondary);
}

.pricing__content_item_button {
  width: 125px;
  height: 35px;
  margin-top: 25px;
  outline: none;
  font-family: "SourceSans3-Regular";
  color: var(--text-primary);
  font-size: 13px;
  background: none;
  border: 2px solid var(--accent-primary);
  border-radius: 5px;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.pricing__content_item_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.pricing__content_item.recommended .pricing__content_item_button {
  background-color: var(--accent-primary);
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1800px) {
  .pricing {
    padding: 50px 50px 100px 50px;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 375px) {
}
